{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="mw-100 media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            {% if current_user.is_authenticated %}
            <a class="label label-primary" href=/download/{{ post.document_file }} target="_blank"  style="margin-right: 5px;">Documentation</a>
            <a class="label label-primary" href=/download2/{{ post.zip_file }} target="_blank"  style="margin-right: 5px;">Source Code</a>
             <button class="badge badge-pill badge-dark float-right mt-2" data-toggle="collapse" data-target="#demo{{ loop.index }}">More</button>
             {% if post.plag_percent|int >= 70 %}
            <span class="btn btn-primary float-right">Plagiarism: <span class="badge badge-danger">{{ post.plag_percent }}%</span></span>
            {% else %}
            <span class="btn btn-primary float-right">Plagiarism: <span class="badge badge-light">{{ post.plag_percent }}%</span></span>
            {% endif %}
            <div class="collapse mt-4" id="demo{{ loop.index }}">
            <div class="row" >
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title text-secondary">Current PDF</h5>
                    <p class="card-text">{{ post.edited_x|safe }}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title text-secondary">Plagiarised from PDF</h5>
                    <p class="card-text">{{ post.edited_z|safe }}</p>
                    <a class="label label-primary float-right" href=/download/{{ post.pdf_plag }} target="_blank"  style="margin-right: 5px;"> Download</a>
                  </div>
                </div>
              </div>
            </div>
            </div>


            <!-- <div id="demo{{ loop.index }}" class="collapse">
              <p class="article-content ">{{ post.edited_x|safe }}</p>
              
              <a class="label label-primary float-right" href=/download/{{ post.pdf_plag }} target="_blank"  style="margin-right: 5px;"> Download Document</a>
              <a class="label label-primary float-right mt-2" data-toggle="collapse" data-target="#demo2{{ loop.index }}">More</a>
              <div id="demo2{{ loop.index }}" class="collapse">
                <p class="article-content text-muted">{{ post.edited_z|safe }}</p>
            </div> -->

            
            <!--<p class="article-content">{{ post.document_file }}</p>-->
            {% endif %}
          </div>
        </article>
    {% endfor %}
{% endblock content %}
